{# This file is inserted as the 'info' of each listed record and inside the record #}

{% if not record.contenttype.hide_publish_date %}
  {{ record.datepublish|localedatetime("%d.%m.%Y") }}
{% endif %}

{% if record.use_password_protection %}
    <i class="fa fa-lock"></i>
{% endif %}

{% if record.taxonomy is defined %}
  <p class="taxonomies">
    {% for type, values in record.taxonomy %}
        {% if type not in record.contenttype.hidden_taxonomy %}
            {% for link, value in values %}
                <a href="{{ link }}" class="{{ type }}">{{ value }}</a>
            {% endfor %}
        {% endif %}
    {% endfor %}
  </p>
{% endif %}
