<!DOCTYPE html>
<html lang="{{ htmllang() }}">

    {{ include('_head.twig') }}

    <body>

        <div class="content container">
            {% block content %}{% endblock %}
        </div>

    </body>
</html>
