<header class="navbar m-2">
  <section class="navbar-section">
  </section>

  <section class="navbar-section">
    {% for item in menu %}
      <a  class="{% if ( item|current ) or ( (item.link ~ "?page_") in app.request.uri ) or ( (item.link ~ "?search=") in app.request.uri ) or ( record.contenttype.slug in item.link ) %} active{% endif %}"
          href="{{ item.link }}">
        {{ item.label }}
      </a>
    {% endfor %}
  </section>
</header>
